{{!< main}}

<div class="header">
  <div class="logo">Logo</div>
  <div>
    <a href="/list" class="btn">Zu den Rezepten</a>
    <a href="/new" class="btn">Neues Rezept</a>
  </div>
</div>

<div class="content">
  <div class="recipe-detail-container">
    <div class="detail-image">{{image}}</div>
    <div class="detail-info">
      <div class="recipe-title">{{title}}</div>
      <div class="recipe-details">{{description}}</div>
    </div>
  </div>

  <div class="recipe-full-details">
    <h3>Zutaten:</h3>
    <ul>
      {{#each ingredients}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <h3>Zubereitung:</h3>
    <p>{{steps}}</p>
  </div>
</div>
